{% extends "layouts/layout.html" %}
{% block title %}
    List Post | {{ block.super }}
{% endblock title %}
{% block content %}
  {% if user.is_authenticated %}
    <center><h2><strong>New feeds</strong></h2></center>
    <hr>
    {% if posts %}
      {% for post in posts %}
        <div class="post">
          <div class="content">
            <p><strong>Posted by:</strong> {{post.user.username}} <strong>at</strong> {{post.pub_date}}</p>
            <h5><span class="glyphicon glyphicon-time"></span></h5>
            <p>{{post.content}}</p>
            <br>
            <p><strong>{{post.like_set.count}}</strong> Likes</p>
            <br>
          </div>
            <form action="{% url 'posts:create-like' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" id="UserId" name="user" value="{{user.id}}">
              <input type="hidden" id="PostId" name="post" value="{{post.id}}">
              <button class="btn btn-primary" type="submit">Like</button>
            </form>
        </div>
      {% endfor %}
    {% else %}
      <center><h2>There is no posts</h2></center>
    {% endif %}
  {% else %}
    <center><h1>Welcome to Twitter, login to continue</h1></center>
    <center><a class="btn btn-primary btn-lg" href="{% url 'login' %}">Login</a></center>
  {% endif %}
{% endblock content %}
